{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block javascript %}
<script>
    $(function() {
        $('.form-control').removeClass('form-control');
    })
</script>
{% endblock %}
{% block main %}
<div class="contact">
            <div class="container">
                <h2 class="agileits-title">{{ 'common.login'|trans }}</h2>
                <div class="col-md-8 col-md-offset-2 w3_agile_mail_left">
                    <div class="agileits_mail_grid_right1 agile_mail_grid_right1">
                        <form name="login_mypage" id="login_mypage" method="post" action="{{ url('mypage_login') }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <span>
                                <i>{{'common.mail_address' | trans}}</i>
                                {{ form_widget(form.login_email, {'attr': {'style' : 'ime-mode: disabled;', 'placeholder' : 'common.mail_address', 'autofocus': true}}) }}
                            </span>
                            <span>
                                <i>{{'common.password' | trans}}</i>
                                {{ form_widget(form.login_pass,  {'attr': {'placeholder' : 'common.password' }}) }}
                            </span>
                            {% if error %}
                                <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'validators')|nl2br }}</p>
                            {% endif %}
                            <div class="w3_submit">
                                <input type="submit" value="{{'common.login'|trans }}" />
                                <div class="ec-grid2__cell">
                                    <div class="ec-login__link"><a class="ec-link"
                                                                href="{{ url('forgot') }}">{{ 'common.forgot_login'|trans }}</a>
                                    </div>
                                    <div class="ec-login__link"><a class="ec-link"
                                                                href="{{ url('entry') }}">{{ 'common.signup'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
