{% if '/mypage' in app.request.pathInfo %}
{% set services = repository('Eccube\\Entity\\Product').findAll() %}
{% set email = '' %}
{% set phone_number = '' %}
{% if is_granted('ROLE_USER') %}
    {% set email = app.user.email %}
    {% set phone_number = app.user.phone_number %}
{% endif %}
<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content start">
      <div class="modal-header  modal-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="agileits-title">{{ 'front.tpsbooking.str.make_a_reservation' | trans }}</h4>
      </div>
      <div class="modal-body">
        <div>{{ 'front.tpsbooking.book_success' | trans }}</div>
      </div>
    </div>
  </div>
</div>
<!-- reservation -->
<div class="reservation-info jarallax">
    <div class="reservation">
        <div class="container">
            <h2 class="agileits-title w3title2">{{ 'front.tpsbooking.str.make_a_reservation' | trans }}</h2>
            <div class="book-reservation">
                <div class="col-md-3 form-left">
                    <label><i class="glyphicon glyphicon-calendar"></i>{{'front.tpsbooking.str.date' | trans }}</label>
                    <input value="{{ 'now' | date('d/m/Y') }}" type="text" class="date" id="datepicker" name="date" placeholder="Date" required="">
                </div>
                <div class="col-md-3 form-left">
                    <label><i class="glyphicon glyphicon-tag"></i>{{'front.tpsbooking.str.service' | trans }}</label>
                    <select name="product_id" name="p_num" class="form-control">
                        {% for service in services %}
                            <option {% if Product is defined %} {{ Product.id == service.id ? "selected" : "" }} {% endif %} value="{{service.id}}" >{{service.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 form-left">
                    <label><i class="glyphicon glyphicon-envelope"></i>{{'front.tpsbooking.str.email' | trans }}</label>
                    <input value="{{email}}" name="email" type="email" class="form-control" placeholder="{{'front.tpsbooking.placeholder.email' | trans}}"/>
                </div>
                <div class="col-md-3 form-left">
                    <label><i class="glyphicon glyphicon-earphone"></i>{{'front.tpsbooking.str.phone_number' | trans }}</label>
                    <input value="{{phone_number}}" name="phone_number" type="text" class="form-control" placeholder="{{'front.tpsbooking.placeholder.phone_number' | trans}}"/>
                </div>
                <div class="clearfix"> </div>
                <div class="make">
                    {% if is_granted('ROLE_USER') %}
                        <input value="{{app.user.id}}" name="customer_id" type="hidden" />
                    {% endif %}
                    <input class="submit" type="submit" value="{{ 'front.tpsbooking.str.make_a_reservation' | trans }}">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //reservation -->
{% endif %}
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-7 footer-grids">
            <h3>Review</h3>
            <p>Không gian sang trọng, mát mẻ. Các bạn nhân viên rất đáng yêu, làm việc thì chuyên nghiệp. Có rất nhiều mẫu nails để lựa chọn. Tôi nghĩ các bạn nên đến nơi này, chắc chắn bạn sẽ thích nó..</p>
        </div>
        <div class="col-md-5 footer-grids"> 
            <h3>Contact Me</h3>
            <p>{{BaseInfo.addr01}}<br>
                <span>Office: 908-0000</span>
                <span>Support to: <a href="mailto:info@example.com">{{BaseInfo.email01}}</a></span>
            </p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer-copy">
    <div class="container">
        <p>© 2017 Fit&Spa. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
</div>
<!-- //footer -->
<!-- Time select -->
<script type="text/javascript" src="{{ asset('assets/js/wickedpicker.min.js') }}"></script>
<!-- //Time select -->
<!-- Calendar -->
<script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
<script>
    $(function() {
        $('.timepicker').wickedpicker({
            now: '{{ 'now' | date('H:00') }}',
            title: '{{ 'front.booking_hour' | trans }}',
            twentyFour: true,
            minutesInterval: 30,
            timeSeparator: ':'
        });
        $( "#datepicker" ).datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
<!-- //Calendar -->
<!-- ResponsiveTabs -->
<script src="{{ asset('assets/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!-- //ResponsiveTabs -->
<!-- video pg plugin -->
<script src="{{ asset('assets/js/jquery.vide.min.js') }}"></script>
<!-- //video pg plugin -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{{ asset('assets/js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/easing.js') }}"></script>
<script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- jarallax effect -->
<script src="{{ asset('assets/js/SmoothScroll.min.js') }}"></script>
<script src="{{ asset('assets/js/jarallax.js') }}"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<!-- //jarallax effect -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('assets/js/bootstrap.js') }}"></script>
<script>
$(function() {
    $('#successModal').on('shown.bs.modal', function() {
        setTimeout(function() {
            window.location.reload();
        }, 1000);
    });
    $('.book-reservation .submit').click(function() {
        date = $(this).parents('.book-reservation').find('[name="date"]').val();
        product_id = $(this).parents('.book-reservation').find('[name="product_id"]').val();
        email = $(this).parents('.book-reservation').find('[name="email"]').val();
        phone_number = $(this).parents('.book-reservation').find('[name="phone_number"]').val();
        customer_id = $(this).parents('.book-reservation').find('[name="customer_id"]').val();
        if (!email) {
            alert('{{'front.tpsbooking.message.email_is_required' | trans}}');
            $(this).parents('.book-reservation').find('[name="email"]').focus();
            return;
        }
        if (!phone_number) {
            alert('{{'front.tpsbooking.message.phone_number_is_required' | trans}}');
            $(this).parents('.book-reservation').find('[name="phone_number"]').focus();
            return;
        }
        if (!confirm('{{'front.tpsbooking.are_your_sure' | trans}}')) {
            return;
        }
        {# $.post('{{ url('front_tpsbooking_submit') }}', {
            date: date,
            product_id: product_id,
            email: email,
            phone_number: phone_number,
            customer_id: customer_id,
        }, function(res) {
            if (res.error == 0) {
                $('#successModal').modal('show');
            }
        }); #}
    });
})
</script>