<!-- banner --> 
{% if (app.request.uri == url('homepage')) %}
<div class="video jarallax" data-vide-bg="{{ asset('assets/video/spa') }}">
{% else %}
<div class="jarallax about-w3banner">
{% endif %}
    <!-- header --> 
    <div class="w3header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a  href="{{ url('homepage') }}"> Fit&Spa </a></h1> 
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url('homepage') }}">Home</a></li>
                        <li><a href="{{ url('help_about') }}">{{ 'front.about.title' | trans }}</a></li> 
                        <li><a href="{{ url('product_list') }}?category_id=1">{{ 'front.tpsbooking.menu.services' | trans }}</a></li>
                        <li><a href="{{ url('product_list') }}?category_id=2">{{ 'front.tpsbooking.menu.products' | trans }}</a></li>
                        <li><a href="{{ url('contact') }}">{{ 'front.contact.title' | trans }}</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ url('mypage') }}">{{ 'front.block.login.mypage' | trans }}</a></li>
                            <li><a href="{{ url('logout') }}">{{ 'front.block.login.logout' | trans }}</a></li>
                        {% else %}
                            <li><a href="{{ url('mypage_login') }}">{{ 'common.login' | trans }}</a></li>
                        {% endif %}
                    </ul> 
                    <div class="clearfix"> </div>	
                </div>
            </nav>
        </div>  
    </div>
    <!-- //header -->  
    {% if (app.request.uri == url('homepage')) %}
    <!-- banner-text -->
    <div class="banner-w3ltext page-header__content w3layouts">  
        <div class="text-bg">  
            <svg>
                <defs>
                    <mask id="mask" x="0" y="0" width="100%" height="100%">
                        <rect id="alpha" x="0" y="0" width="100%" height="100%"/>
                        <text id="title1" x="50%" y="30%" dy="1em" letter-spacing="0.02em">Fit&Spa </text>
                    </mask>  
                </defs>
                <rect id="base" x="0" y="0" width="100%" height="100%" mask="url(#mask)"/> 
            </svg>     
        </div>   
        <p class="bnrw3-agiletext">Consequatur aut perferendis doloribus asperiores repellat. Fusce eu semper lacus, eget placerat mauris. Sed lectus tellus feugiat porttitor nulla. </p>
    </div>     
    <!-- //banner-text -->  
    {% endif %}	
</div>	 
<!-- //banner --> 