    {% extends 'default_frame.twig' %}
    
    {% set body_class = 'front_page' %}
    
    {% block stylesheet %}
        <style>
        </style>
    {% endblock %}
    
    {% block javascript %}
        <script>
            $(function() {
            });
        </script>
    {% endblock javascript %}
    
    {% block main %}

	<!-- about -->
	<div class="about wthree-about">
		<div class="container">  
			<!-- about-section -->
			<div class="about-section">
				<div class="col-md-7 ab-left w3-agileits">
					<div class="grid">
						<div class="col-xs-6 abt-w3limg">
							<figure class="effect-jazz">
								<img src="{{ asset('assets/images/img1.jpg') }}" alt=""/>
								<figcaption>
									<h4>Good<span>Spa</span></h4>
									<p>Kỹ thuật massage chuyên nghiệp giúp bạn thư giãn đồng thời tăng cường khả năng thẩm thấu của các dưỡng chất mang đến làn da khỏe đẹp.</p> 
								</figcaption>			
							</figure> 
						</div>
						<div class="col-xs-6 abt-w3limg">
							<figure class="effect-jazz">
								<img src="{{ asset('assets/images/img2.jpg') }}" alt=""/>
								<figcaption>
									<h4>Gym<span>Center</span></h4>
									<p>Với kinh nghiệm chuyên sâu về thể dục thể thao, đặc biệt là GYM. Với phương châm sức khỏe khách hàng là trên hết, nhằm đáp ứng nhu cầu ngày càng cao của khách hàng.</p> 
								</figcaption>			
							</figure> 
						</div>
						<div class="clearfix"> </div>
					</div>
			   </div>
			   <div class="col-md-5 ab-text w3-agileits">
			        <h3 class="agileits-title">Chào mừng</h3> 
					<h6> Spa Khoáng Núi Lửa</h6>
					<p class="wow slideInUp">Spa Khoáng Núi Lửa Vichy sử dụng nguồn nước khoáng VICHY từ Pháp, giúp chăm sóc, cải thiện cũng như tăng cường sức khoẻ của làn da. Trải nghiệm và tận hưởng làn da khỏe đẹp & tràn đầy sức sống với kỹ thuật massage chuyên nghiệp của các chuyên viên chăm sóc da Vichy.</p>
					<div class="start wow flipInX">
						<a href="single.html" class="hvr-bounce-to-bottom">Bắt đầu</a>
					</div> 
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //about-section -->
			<!-- about-section2 -->
			<div class="about-section abt-w3sec2">
				<div class="col-md-5 ab-text two w3-agileits">
					<h3 class="agileits-title">Về chúng tôi</h3> 
					<h6> Spa Khoáng Núi Lửa</h6>
					<p> Alisa Spa mang phong cách lãng mạn của Pháp cùng với công nghệ làm đẹp đến từ Hàn Quốc và Châu Âu. Nơi đây là địa chỉ chăm sóc sắc đẹp uy tín tại Cần Thơ. Với hàng nghìn khách hàng là những người luôn đánh giá cao các phương pháp làm đẹp an toàn, tự nhiên. Alisa Spa ra đời là sự tâm huyết mong muốn mang lại cảm giác gần gũi và tin yêu, luôn được đón tiếp và phục vụ với nụ cười thân thiện.</p>
					<div class="start">
						<a href="single.html" class="hvr-bounce-to-bottom">Xem thêm</a>
					</div> 
				</div>
				<div class="col-md-7 ab-left w3-agileits">
					<div class="grid">
						<div class="col-xs-6 abt-w3limg">
							<figure class="effect-jazz">
								<img src="{{ asset('assets/images/img4.jpg') }}" alt=""/>
								<figcaption>
									<h4>Best<span>Salon</span></h4>  
									<p>Salon sẽ mang đến cho các bạn dịch vụ chăm sóc tóc chuyên nghiệp qua tay nghề khéo léo và tâm huyết của chủ tiệm cùng những người thợ tài năng nơi này.</p> 
								</figcaption>			
							</figure> 
						</div>
						<div class="col-xs-6 abt-w3limg">
							<figure class="effect-jazz">
								<img src="{{ asset('assets/images/img3.jpg') }}" alt=""/>
								<figcaption>
									<h4>Healthy<span>Yoga</span></h4>
									<p>Phòng tập BM Yoga luôn phấn đấu vươn lên tầm cao mới, với mục tiêu đáp ứng nhu cầu trong việc nâng cao thể chất và chăm sóc ngoại hình cho mọi đối tượng học viên.</p> 
								</figcaption>			
							</figure> 
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //about-section2 -->
		</div>
	</div>
	<!-- //about --> 
	<!-- services -->
	<div class="services jarallax">
		<div class="container">
			<h3 class="agileits-title w3title2">Dịch vụ</h3> 
			<div class="services-w3lsrow agileits-w3layouts">
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">  
					<i class="fa fa-gears" aria-hidden="true"></i> 
					<h4>Hệ thống</h4>
					<p></p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<i class="fa fa-group" aria-hidden="true"></i> 
						<h4>Chăm sóc khách hàng </h4>
						<p>Khách hàng là thượng đế</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
						<h4>Tư vấn sức khỏe</h4>
						<p>Đội ngũ bác sĩ chuyên nghiệp</p>
					</div>
				</div> 	
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<i class="fa fa-list-alt" aria-hidden="true"></i>
						<h4>Thanh toán tiện lợi</h4>
						<p>Thanh toán qua nhiều phương thức khác nhau</p>
					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>	 
		</div>
	</div>	
	<!-- //services --> 
	<!-- testimonial -->
	<div class="testimonial agileits-w3layouts">
		<div class="container"> 
			<h3 class="agileits-title">Cảm nhận khách hàng</h3> 
			<div class="sap_tabs">	
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">  
					<ul class="resp-tabs-list">
						<li class="resp-tab-item"><img src="{{ asset('assets/images/t1.jpg') }}" alt=""/></li>
						<li class="resp-tab-item"><img src="{{ asset('assets/images/t2.jpg') }}" alt=""/></li>
						<li class="resp-tab-item"><img src="{{ asset('assets/images/t3.jpg') }}" alt=""/></li>
						<li class="resp-tab-item"><img src="{{ asset('assets/images/t4.jpg') }}" alt=""/></li>
						<li class="resp-tab-item"><img src="{{ asset('assets/images/t5.jpg') }}" alt=""/></li>
					</ul>
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content">				
							<div class="view view-first"> 
								<p>Tại sao cứ phải đợi già mới lo lão hóa, chúng ta phải chống lão hóa ngay từ khi mới ngấp nghé 30. Vì thế, tôi luôn chọn Fit&Spa để giúp mình giữ lại những năm tháng thanh xuân.</p>
								<h5>Thanh Thúy</h5>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view view-first"> 
								<p>Bây giờ không phải chỉ có phái đẹp mới có thói quen đi Spa, tôi nghĩ đàn ông cũng nên quan tâm tới bản thân mình hơn, đi Spa là một trong những thói quen tốt để giữ gìn sức khỏe và chăm sóc cho vẻ ngoài của mình. .</p>
								<h5>Tùng Sơn</h5>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view view-first"> 
								<p>Tôi thực sự cảm thấy may mắn khi mình đã được trải nghiệm phương pháp giảm béo dưỡng sinh, Tôi đã trải qua liệu trình giảm béo và đã giảm được cân nặng, Tôi thấy đây thực sự rất là phương pháp an toàn, thư giãn mà lại vô cùng hiệu quả.</p>
								<h5>Linh Ngọc</h5>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view view-first"> 
								<p>Suốt ngày đứng dưới ánh sáng công suất cao, thường xuyên phải tiếp xúc với mỹ phẩm, thỉnh thoảng lại thức đêm trông con..., nếu không có chế độ giữ da nghiêm túc, chắc da mặt tôi “nát” hết rồi!.</p>
								<h5>Dũng CT</h5>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="view view-first"> 
								<p>Mình cũng là 1 tín đồ của Spa, thích làm đẹp từ bé, đặc biệt nghề diễn viên của mình lại rất coi trọng thanh sắc vì thế mình cũng rất chịu khó đi " bảo dưỡng sắc đẹp" vào thời gian cuối tuần. Fit&Spa là 1 trong những địa chỉ uy tín mà mình cũng hay ghé qua, thích nhất là làm dịch vụ trắng hồng dành cho da mặt ở đây.</p>
								<h5>Mai Linh</h5>
							</div>
						</div> 
					</div> 
					<div class="clearfix"></div>
				</div>	 
			</div>	 
		</div>
	</div>					
	<!-- //testimonial --> 
    {% endblock %}
    