{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
	<!-- Kick off Filterizr js -->
	<script src="{{ asset('assets/js/jquery.filterizr.js') }}"></script>  
	<script src="{{ asset('assets/js/controls.js') }}"></script>	
    <script type="text/javascript">
        $(function() {
            $('.filtr-container').filterizr({ multifilterLogicalOperator: 'and' });
        });
    </script>
{% endblock %}

{% block main %}
    {% set Categories = repository('Eccube\\Entity\\Category').getList() %}
	<!-- portfolio -->
	<div class="portfolio">
            <div class="container">   
                <h2 class="agileits-title">{{ 'common.services.title' | trans }}</h2> 
                <div class="gallery-agileinfo">
                    <ul class="simplefilter">
                        <li class="active" data-filter="all">All</li>
                        {% for cat in Categories %}
                            {% if cat.Children.count() > 0 %}
                                {% for child in cat.Children %}
                                    <li data-filter="{{child.id}}">{{child.name}}</li>
                                {% endfor %}
                            {% else %}
                                    <li data-filter="{{cat.id}}">{{cat.name}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="filtr-container">
                        {% if pagination.totalItemCount > 0 %}
                            {% for Product in pagination %}
                                {% set catID = null %}
                                {% if Product.ProductCategories is not empty %}
                                    {% for ProductCategory in Product.ProductCategories %}
                                        {% for Category in ProductCategory.Category.path %}
                                            {% set catID = Category.id %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                                <div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="{{catID}}" data-sort="Busy streets">
                                        <div class="agileits-img">
                                            <a href="{{ url('product_detail', {'id': Product.id}) }}" class="swipebox" title="{{ Product.description_list|raw|nl2br }}">
                                                <img class="img-responsive " src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt=""  /> 
                                            </a> 
                                        </div>
                                    </div>
                            {% endfor %}
                        {% endif %}
                       <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
